<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<title>表单输入绑定</title>
	</head>
	
	<body>
		<div id="app">
			<input type="text" v-model="message" value="Hello" />
			<p>Meaasge is :{{message}}</p>
			
			
			<select v-model="selected">
			    
			    <option>A</option>
			    <option>B</option>
			    <option>C</option>
			  </select>
			  <span>Selected: {{ selected }}</span>
		</div>
		
		<script>
			var app = new Vue({
				// element的缩写，挂载元素
				el:"#app",
				data:{
					message:"Hello Vue",
					selected:''
				}
			})
		</script>
	</body>
</html>
